@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  @apply min-h-screen;
}

section > .title {
  @apply font-samarkan text-7xl text-white;
}

.footer {
  @apply absolute left-0 right-0 bottom-[72px] z-20 mx-auto mt-16 w-fit rounded-xl bg-slate-900/30 p-8 p-4 text-center text-white;
  font-size: 18pt;
  line-height: 21.6pt;
}
